body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.form {
    margin: 15px;
    width: 80%;
    max-width: 755px;
}
.form input {
    margin-right: 25px;
    font-size: xx-large;
}
ul {
    list-style: none;
    padding: 0;
}

#dynamicList {
    width:80%;
max-width: 755px;
}

#dynamicList li {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#dynamicList li h2 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 5px;
}

#dynamicList li p {
    color: #555;
    font-size: 1em;
    margin-bottom: 10px;
}

#dynamicList li .price {
    color: dodgerblue;
    font-size: 1.1em;
    font-weight: bold;
    margin-bottom: 5px;
}
.serverName {
    background-color: #3498db;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 1em;
    margin-bottom: 10px;
    display: inline-block;
}

#dynamicList li .location {
    color: #777;
    font-size: 0.9em;
    margin-bottom: 5px;
}

#dynamicList li img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
label{
    font-size: xx-large;
}
input,
button,
#sortCriteria {
    font-size: xx-large;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 322px;
    background-color: dodgerblue;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #41abf8;
}

#dynamicList li .uploadDate {
    color: #999;
    font-size: 0.8em;
    margin-bottom: 5px;
}

